//Theme colors

$banner-theme-color:#ef0a2b;
$content-theme-color: #f3f3f3;
$theme-white: #fff;

//Header colors

$header-background-color: #222222;
$header-fonts-color: #fff;

//Content colors
$content-font-color: #3d3d3d;
$content-button-color: #cacaca;
$content-input-color: #f3f3f3;
$content-category-color: #222;


//Footer color
$footer-font-color: #b6b6b6;
$footer-icons-color: #f10e34;
