$bg-white: #ffffff;


$font-color: #000;
$font-color-footer: #fff;

$progress-bar-color: #282828;
$progress-color: #e27878;
$font-color-creator: #969696;

$quotes-color: #dfdfdf;

$icons-color: #ffffff;

$menu-active-color: #d45e5e;

$copyright-bg: #282828;

